.xtx-entry{
    height: 500px;
    background-color: #f5f5f5;
}
.swiper{
    position: relative;
    height: 500px;
}
.prev,
.next{
    position: absolute;
    top: 50%;
    width: 45px;
    height: 44px;
    transform: translate(0,-50%);
    margin-left: 9px;
    border-radius: 50%;
    background: rgba(0,0,0,.2) url(../images/sprites.png) no-repeat;
}


.prev{
    left: 260px;
    background-position:14px -60px;
}
.next{
    right: 10px;
    background-position: -22px -60px;
}
.pagination{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%,0);
}
.pagination li{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.3);
    margin: 0 8px;
    cursor: pointer;
}
.pagination li.active{
    background-color: #fff;
}
.xtx-entry .container{
    position: relative;
}
.category{
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 250px;
    background:rgba(0, 0, 0, 0.8);
}
.category ul li{
    position: relative;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    padding-left: 36px;
    transition: all .4s;
}
.category ul li:hover{
    background-color: #27ba9b;
}
.category ul li::after{
    position: absolute;
    top: 18px;
    right: 22px;
    content: '';
    width: 6px;
    height: 11px;
    background: url(../images/sprites.png) no-repeat -80px -110px;
}
.category ul li a{
    font-size: 14px;
    color: #fff;
}
.category ul li a:first-child{
    margin-left: 15px;
}
.goods-hd{
    position: relative;
    overflow: hidden;
    height: 114px;
    line-height: 114px;
}
.goods-hd h3{
    float: left;
    font-size: 29px;
    font-weight: 400;
}
.goods-hd h3 span{
    font-size: 16px;
    color: #999;
    margin-left: 30px;
}
.goods-hd .all{
    float: right;
    font-size: 16px;
    color: #999;
    margin-right: 30px;
}
.goods-hd .all::after{
    position: absolute;
    top: 52px;
    right: 8px;
    content: '';
    width: 6px;
    height: 16px;
    background: url(../images/sprites.png) no-repeat 0px -110px;
}
.goods-list{
    height: 406px;
}
.goods-list ul li{
    position: relative;
    top:0;
    float: left;
    width: 304px;
    height: 406px;
    margin-right: 8px;
    text-align: center;
    transition: all .4s;
    background-color: #f0f9f4;
}
.goods-list li:hover{
    top:-5px;
    box-shadow:0 8px 16px rgba(0,0,0,.2);
}
.goods-list ul li:last-child{
    margin-right: 0;
}
.goods-list li img{
    width: 100%;
}
.goods-list li h4{
    font-size: 20px;
    font-weight: 400;
    margin:20px 0px 8px 0px;
}
.goods-list li p {
    color: #9a2e1f;
}
.goods-list li p span{
    font-size: 23px;
}
.goods-list li i{
    position: absolute;
    top: 18px;
    left: 18px;
    width: 28px;
    height: 51px;
    border: 1px solid #27ba9b;
    color: #27ba9b;
    border-radius: 3px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 7px;
}
.renqi ul li{
    background-color: #fff;
}
.renqi ul li a p{
    color:#999;
    font-size: 16px;
} 
.xtx-hot-remen{
    height: 466px;
    background-color: #f5f5f5;
}
.remen-list li{
    position: relative;
    top: 0;
    float: left;
    width: 244px;
    height: 306px;
    margin-right: 5px;
    transition: all .4s;
}
.remen-list li:hover{
    top:-5px;
}
.remen-list li:last-child{
    margin-right: 0;
}
.remen-list li img{
    width: 244px;
    height: 306px;
}
.xtx-hot-remen .arrow{
    float: right;
    text-align: center;
}
.xtx-hot-remen .arrow li{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color:#e2e2e2;
    cursor: pointer;
}
.xtx-hot-remen .arrow li:hover{
    background-color:#27ba9b;
}
